p, a, span, li{
  font-family: content-font;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6, strong, b{
  font-family: title-font;
  font-weight: bold;
  color: primary-color;
}

.on-top{
  padding-top: 30px; 
}

hr{
  border-color: secondary-color;
  margin-top: 4px;
}