header{
  position: relative;
  background: secondary-color;
  width: 100%;
  min-height: 85px;
  .container{
    padding-top: 15px;
    .login-menu{
      display: flex;
      justify-content: end;
      list-style: none;
      li{
        padding-right: 20px;
        a{
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  #nav-principal{
    position: absolute;
    bottom: -24px;
    left: 0;
    right: 0;
    nav{
      padding-right: 20px; 
      padding-left: 20px; 
      position: relative;
      border-radius: 3px
      box-shadow: 0px 0px 10px 0px #333;
      .navbar-brand{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: primary-color
        .brand-name{
          font-family: title-font
          padding-left: 5px;
        }
      }
    }
  }
  #social-menu{
    .facebook{
      color: rgb(26, 110, 236);
    }
    .youtube{
      color: rgb(143, 6, 6);
    }
    .insta{
      color: rgb(184, 6, 44);
    }
  }
}

