@import 'https://fonts.googleapis.com/css2?family=Secular+One&family=Ubuntu:ital,wght@0,300;0,500;0,700;1,300&display=swap';

@import './components/_variables';
@import './components/_general';
@import './components/_botones'
@import './components/_textos'
@import './components/_mixins'
@import './components/_espaciado';
@import './components/_header';
@import './components/_card-prices';

@import './components/_home'