.container#nav-principal.pt-0
  nav.navbar.navbar-expand-lg.bg-light
    a.navbar-brand(href='#') 
      img(src="assets/icons/coffe.svg" alt="brand")
      span.brand-name Business Corp
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      include menu
      include social-menu